In [67]:
import preprocess_tools as pt

In [68]:
import pandas as pd

In [69]:
lyrics = pd.read_csv("../Data/final_unformated_lyrics.csv")

In [70]:
lyrics["length"] = lyrics["lyrics"].str.len()

In [71]:
## for some reason the lyric for this one was a Karl Marx chapter... Copied manually from Genius instead
lyrics.at[4869, "lyrics"] = "[Verse 1] \
Wait in line \
'Til your time \
Ticking clock \
Everyone stop Everyone's saying different things to me Different things to me Everyone's saying different things to me Different things to me\
Do you believe \
In what you see? \
There doesn't seem to be \
Anybody else who agrees with me \
\
[Chorus] \
Do you believe \
In what you see? \
Motionless wheel \
Nothing is real \
Wasting my time \
In the waiting line \
Do you believe \
In what you see? \
\
[Verse 2] \
Nine to five \
Living lies \
Everyday\
Stealing time\
\
Everyone's taking everything they can\
Everything they can\
Everyone's taking everything they can\
Everything they can\
\
[Pre-Chorus]\
Do you believe\
In what you see\
There doesn't seem to be\
Anybody else who agrees with me\
\
[Chorus]\
Do you believe\
In what you see?\
Motionless wheel\
Nothing is real\
Wasting my time\
In the waiting line\
Do you believe in\
In what you see?\
\
[Bridge]\
Ah and I'll shout and I'll scream\
But I'd rather not have seen\
And I'll hide away for another day\
\
[Chorus]\
Do you believe\
In what you see?\
Motionless wheel\
Nothing is real\
Wasting my time\
In the waiting line\
Do you believe in\
In what you see?\
\
[Outro]\
Everyone's saying different things to me\
Different things to me\
Different things to me\
Different things to me\
Different things to me\
Everyone's taking everything they can\
Everything they can"

In [72]:
lyrics["cleaned"] = lyrics["lyrics"].apply(pt.clean_lyrics)

In [75]:
pd.set_option('display.max_rows', 500)
lyrics_new = lyrics.sort_values("length", ascending=False)[100:]

In [76]:
lyrics_new.head()

,Unnamed: 0,Artist,Song,lyrics,y,is_en,length,cleaned
476,483,Big Country,The Storm,THE week following Christmas brought in a thaw...,-1,True,6907,THE week following Christmas brought in a thaw...
1334,1363,Eminem,Stan,[Produced by Mark the 45 King]\n\n[Chorus: Did...,-1,True,6661,My teas gone cold Im wondering why I got out o...
4290,4387,The Germs,Forming,"(This is a news flash folks, we interrupt this...",-1,True,6504,This is a news flash folks we interrupt this p...
2684,2756,Meat Loaf,Paradise By The Dashboard Light,1. PARADISE\nBOY: Meat Loaf\nI remember every ...,1,True,6391,1 PARADISE BOY Meat Loaf I remember every litt...
4324,4421,The Killers,A White Demon Love Song (Soundtrack Album Vers...,Infinite\nW.E.G.O. (Interlude)\nIt's Ok\n313\n...,-1,True,5947,Infinite WEGO Interlude Its Ok 313 Tonight Max...

In [77]:
lyrics_cleaned = lyrics_new[["cleaned", "y"]]

In [78]:
lyrics_cleaned.columns = ["lyrics", "label"]

In [79]:
lyrics_cleaned.to_csv("../Data/lyrics_cleaned.csv", index=False)

In [80]:
lyrics_cleaned.head()

                                                 lyrics  label
476   THE week following Christmas brought in a thaw...     -1
1334  My teas gone cold Im wondering why I got out o...     -1
4290  This is a news flash folks we interrupt this p...     -1
2684  1 PARADISE BOY Meat Loaf I remember every litt...      1
4324  Infinite WEGO Interlude Its Ok 313 Tonight Max...     -1